j colorun fiyatının fazla cıkmasının sebebi

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df=sns.load_dataset("diamonds")
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
# sadece J color olanlardan bir data set
j_data=df[df["color"]=="J"]

In [6]:
# sadece D colorlardan oluşan bir dataset
d_data=df[df["color"]=="D"]

In [7]:
# D colorda kaç farklı karat değeri var
d_data["carat"].nunique()

175

In [8]:
# J colorda kaç farklı karat değeri var
j_data["carat"].nunique()

229

In [9]:
# J colorda kaç farklı karat değeri var? bunlardan oluşan bir liste yapalım.
j_list=list(j_data.carat.unique())
j_list

[0.31,
 0.24,
 0.3,
 0.23,
 0.33,
 1.17,
 1.05,
 1.0,
 0.93,
 0.99,
 0.9,
 0.75,
 0.91,
 1.03,
 0.92,
 1.02,
 1.12,
 1.24,
 1.06,
 1.01,
 1.2,
 1.14,
 0.97,
 0.95,
 1.22,
 0.96,
 1.04,
 1.1,
 1.08,
 0.41,
 0.38,
 0.4,
 0.39,
 1.09,
 0.35,
 1.11,
 1.21,
 1.31,
 1.15,
 1.25,
 1.07,
 0.34,
 1.29,
 1.18,
 1.16,
 1.13,
 1.27,
 1.44,
 1.35,
 0.32,
 0.36,
 1.3,
 1.36,
 1.32,
 1.19,
 1.26,
 1.5,
 0.37,
 1.23,
 1.54,
 1.28,
 1.45,
 1.38,
 1.51,
 1.4,
 2.0,
 1.37,
 1.83,
 1.62,
 1.69,
 2.06,
 1.72,
 1.33,
 1.34,
 2.14,
 2.15,
 2.22,
 1.52,
 1.64,
 2.27,
 1.56,
 1.81,
 1.65,
 1.57,
 1.53,
 1.47,
 1.39,
 2.49,
 1.71,
 1.66,
 1.46,
 1.43,
 1.55,
 1.41,
 2.72,
 1.73,
 1.59,
 1.61,
 1.7,
 1.6,
 1.58,
 1.68,
 1.77,
 1.42,
 1.67,
 1.88,
 2.01,
 1.74,
 2.25,
 2.02,
 2.74,
 1.84,
 1.75,
 1.78,
 1.76,
 2.28,
 1.79,
 2.03,
 2.04,
 1.9,
 1.63,
 3.11,
 1.87,
 0.42,
 1.82,
 1.8,
 2.19,
 1.86,
 2.63,
 2.38,
 0.43,
 1.91,
 2.07,
 2.09,
 2.33,
 2.11,
 2.45,
 2.24,
 2.12,
 2.08,
 2.1,
 2.21,
 2.36,
 2.3,
 2.31,
 2.4,
 2.05,
 2.23,
 1.89,
 2.29,
 2.18,
 2.34,
 2.2,
 2.13,
 1.99,
 2.17,
 2.32,
 2.16,
 2.35,
 2.5,
 3.0,
 4.01,
 2.56,
 2.41,
 2.47,
 2.52,
 2.53,
 3.01,
 2.37,
 2.42,
 2.51,
 2.59,
 2.46,
 2.44,
 2.39,
 2.26,
 2.6,
 2.61,
 5.01,
 2.57,
 4.5,
 2.43,
 3.51,
 0.45,
 0.29,
 0.44,
 0.27,
 0.47,
 0.46,
 0.53,
 0.48,
 0.51,
 0.5,
 0.28,
 0.52,
 0.49,
 0.57,
 0.72,
 0.56,
 0.54,
 0.55,
 0.6,
 0.59,
 0.63,
 0.7,
 0.58,
 0.62,
 0.61,
 0.64,
 0.66,
 0.65,
 0.71,
 0.85,
 0.68,
 0.67,
 0.73,
 0.77,
 0.76,
 0.79,
 0.8,
 0.74,
 0.81,
 0.86,
 0.78,
 0.88,
 0.83,
 0.82,
 0.87,
 0.84]

In [10]:
# D colorda kaç farklı karat değeri var? bunlardan oluşan bir liste yapalım.
d_list=list(d_data.carat.unique())
d_list

[0.23,
 0.26,
 0.22,
 0.3,
 0.24,
 0.75,
 0.71,
 0.61,
 0.7,
 0.73,
 0.76,
 0.53,
 0.72,
 0.64,
 0.51,
 0.78,
 0.91,
 0.81,
 0.74,
 0.83,
 0.55,
 0.79,
 0.92,
 0.54,
 0.66,
 0.8,
 0.56,
 1.08,
 0.77,
 0.9,
 0.6,
 0.32,
 0.59,
 0.57,
 0.82,
 0.63,
 1.0,
 1.01,
 0.65,
 0.5,
 0.62,
 0.85,
 0.94,
 0.84,
 0.58,
 0.95,
 0.52,
 0.25,
 0.31,
 0.86,
 0.69,
 0.27,
 0.33,
 0.88,
 0.96,
 0.93,
 0.97,
 1.11,
 1.03,
 1.16,
 0.87,
 1.09,
 1.02,
 1.04,
 1.5,
 1.18,
 1.05,
 1.17,
 1.13,
 1.14,
 1.23,
 1.12,
 1.06,
 1.19,
 0.89,
 1.2,
 0.38,
 0.68,
 1.1,
 0.34,
 1.07,
 1.25,
 1.26,
 0.29,
 1.24,
 0.28,
 1.15,
 1.21,
 0.99,
 1.29,
 0.4,
 0.35,
 1.7,
 1.27,
 1.22,
 1.34,
 1.51,
 1.33,
 1.3,
 1.36,
 1.52,
 1.28,
 1.41,
 0.42,
 0.41,
 0.36,
 1.59,
 1.8,
 1.72,
 1.4,
 1.6,
 1.46,
 1.53,
 1.56,
 1.62,
 1.43,
 1.39,
 1.55,
 1.57,
 1.88,
 1.54,
 1.74,
 1.77,
 1.61,
 1.63,
 1.31,
 2.0,
 1.35,
 1.44,
 1.78,
 1.45,
 1.65,
 1.58,
 1.68,
 1.71,
 1.75,
 1.76,
 2.02,
 2.01,
 2.12,
 2.03,
 1.73,
 2.05,
 2.07,
 2.75,
 1.67,
 1.66,
 0.37,
 2.58,
 1.69,
 2.11,
 1.89,
 1.32,
 3.4,
 2.17,
 2.21,
 2.04,
 2.14,
 2.57,
 2.25,
 2.26,
 2.06,
 2.08,
 2.19,
 0.39,
 0.43,
 0.45,
 0.2,
 0.44,
 0.46,
 0.47,
 0.21,
 0.49,
 0.67,
 0.48]

In [11]:
# j color da her karat değeri için kaç adet pırlanta içeriyor
j_adet=[]

for i in j_list:
    x=j_data[j_data["carat"]==i]
    adet=len(x)
    j_adet.append(adet)
    
j_adet

[43,
 2,
 67,
 1,
 14,
 8,
 20,
 57,
 11,
 5,
 62,
 19,
 28,
 29,
 11,
 34,
 12,
 29,
 11,
 72,
 67,
 15,
 5,
 10,
 24,
 6,
 19,
 12,
 13,
 63,
 22,
 57,
 27,
 13,
 13,
 21,
 57,
 15,
 7,
 29,
 13,
 9,
 16,
 8,
 9,
 10,
 26,
 1,
 16,
 44,
 9,
 19,
 7,
 9,
 9,
 19,
 63,
 12,
 31,
 17,
 8,
 5,
 7,
 89,
 5,
 41,
 8,
 3,
 6,
 2,
 9,
 7,
 11,
 9,
 7,
 4,
 8,
 40,
 7,
 4,
 18,
 2,
 5,
 18,
 20,
 4,
 4,
 2,
 18,
 5,
 2,
 3,
 20,
 4,
 2,
 8,
 15,
 7,
 24,
 11,
 5,
 2,
 7,
 2,
 2,
 1,
 63,
 5,
 4,
 33,
 2,
 1,
 7,
 1,
 3,
 9,
 4,
 22,
 16,
 2,
 1,
 1,
 2,
 9,
 1,
 2,
 2,
 2,
 3,
 5,
 11,
 1,
 8,
 6,
 3,
 10,
 2,
 3,
 3,
 6,
 11,
 3,
 3,
 4,
 5,
 6,
 14,
 9,
 1,
 7,
 7,
 1,
 5,
 4,
 1,
 3,
 5,
 6,
 1,
 6,
 1,
 1,
 3,
 1,
 2,
 1,
 2,
 4,
 3,
 6,
 5,
 1,
 1,
 3,
 3,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 9,
 1,
 6,
 8,
 19,
 3,
 22,
 26,
 1,
 11,
 1,
 12,
 58,
 9,
 10,
 18,
 4,
 8,
 4,
 74,
 10,
 6,
 7,
 2,
 2,
 3,
 54,
 7,
 1,
 1,
 18,
 21,
 16,
 5,
 12,
 15,
 11,
 1,
 10,
 1,
 10,
 10,
 3,
 5]

In [12]:
# d color da her karat değeri için kaç adet pırlanta içeriyor
d_adet=[]

for i in d_list:
    x=d_data[d_data["carat"]==i]
    adet=len(x)
    d_adet.append(adet)
    
d_adet

[45,
 23,
 1,
 398,
 28,
 40,
 188,
 34,
 236,
 66,
 30,
 127,
 89,
 16,
 220,
 31,
 81,
 18,
 39,
 16,
 77,
 22,
 42,
 113,
 8,
 26,
 103,
 22,
 43,
 203,
 45,
 278,
 50,
 57,
 10,
 18,
 199,
 273,
 14,
 233,
 18,
 8,
 13,
 12,
 35,
 5,
 150,
 21,
 354,
 4,
 2,
 30,
 151,
 2,
 9,
 18,
 4,
 28,
 72,
 16,
 6,
 28,
 107,
 46,
 66,
 10,
 30,
 10,
 22,
 18,
 19,
 21,
 35,
 13,
 1,
 38,
 109,
 2,
 25,
 143,
 28,
 7,
 8,
 11,
 18,
 16,
 11,
 23,
 2,
 8,
 225,
 130,
 8,
 4,
 12,
 7,
 49,
 3,
 9,
 4,
 44,
 3,
 3,
 139,
 196,
 112,
 6,
 2,
 3,
 4,
 3,
 1,
 9,
 3,
 2,
 2,
 1,
 11,
 6,
 1,
 10,
 4,
 3,
 4,
 1,
 2,
 12,
 2,
 2,
 2,
 2,
 3,
 7,
 1,
 6,
 5,
 2,
 4,
 11,
 1,
 6,
 1,
 2,
 1,
 1,
 1,
 2,
 56,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 37,
 73,
 11,
 3,
 27,
 21,
 13,
 4,
 7,
 4,
 3]

In [13]:
## bunlardan yeni birer dataframe oluşturalım
j=pd.DataFrame({"Karat_Değeri":j_list,"Adet":j_adet})
j

     Karat_Değeri  Adet
0            0.31    43
1            0.24     2
2            0.30    67
3            0.23     1
4            0.33    14
..            ...   ...
224          0.88     1
225          0.83    10
226          0.82    10
227          0.87     3
228          0.84     5

[229 rows x 2 columns]

In [14]:
## bunlardan yeni birer dataframe oluşturalım
d=pd.DataFrame({"Karat_Değeri":d_list,"Adet":d_adet})
d

     Karat_Değeri  Adet
0            0.23    45
1            0.26    23
2            0.22     1
3            0.30   398
4            0.24    28
..            ...   ...
170          0.47    13
171          0.21     4
172          0.49     7
173          0.67     4
174          0.48     3

[175 rows x 2 columns]

### daha iyi gözlemleyebilmek için yeniden indexleyelim

In [15]:
# d color için indexleme değeri
index_d=(d["Karat_Değeri"].sort_values(ascending=False)).index.values
d=d.reindex(index_d)
d.head()

     Karat_Değeri  Adet
153          3.40     1
144          2.75     1
148          2.58     1
158          2.57     1
160          2.26     1

In [16]:
# j color için indexleme değeri
index_j=(j["Karat_Değeri"].sort_values(ascending=False)).index.values
j=j.reindex(index_j)
j.head()

     Karat_Değeri  Adet
178          5.01     1
180          4.50     1
161          4.01     1
182          3.51     1
121          3.11     1

yani birinde en büyük karat 5.01 diğerindeki de 3.4 renk olarak daha iyi olsada karat büyüdüğü zaman pahalı olabiliyor.

- nunique() = bir dataframin sutunlarındaki eşşiz değerlerin sayısını verir.
- sort_values () = seçtiğiniz sutundaki değerleri sıralar
- index = dataframe de şeçtiğiniz satır veya satırların indexlerini alır sonuna values ekleyincede hocam o indekslerin sayısal değerlerini alıyor.