# Eksik Değerlerin İncelenmesi

In [1]:
import seaborn as sns

In [2]:
planets=sns.load_dataset("planets")

In [4]:
df=planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [10]:
df.isnull()

      method  number  orbital_period   mass  distance   year
0      False   False           False  False     False  False
1      False   False           False  False     False  False
2      False   False           False  False     False  False
3      False   False           False  False     False  False
4      False   False           False  False     False  False
...      ...     ...             ...    ...       ...    ...
1030   False   False           False   True     False  False
1031   False   False           False   True     False  False
1032   False   False           False   True     False  False
1033   False   False           False   True     False  False
1034   False   False           False   True     False  False

[1035 rows x 6 columns]

In [11]:
df.isnull().values

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False,  True, False, False],
       [False, False, False,  True, False, False],
       [False, False, False,  True, False, False]])

In [5]:
# hiç eksik gözlem(değer) var mı?
df.isnull().values.any()
# veri_seti.yok_mu.nerede.herhangi_birisinde

True

In [12]:
df.isnull().any()

method            False
number            False
orbital_period     True
mass               True
distance           True
year              False
dtype: bool

In [7]:
# hangi değşkende kaçar tane eksik gözlem var
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [ ]:
# eksik değerlerin yerine sıfır yazmak için
# df["degisken_ismi"].fillna(0,inplace=True)

In [14]:
# eksik değerlerin yerine "sıfır" yazmak için
df["orbital_period"].fillna(0,inplace=True)
# orbital_period'daki eksik değerler 0'a eşitlenir

In [15]:
df.isnull().sum() # orbital_period'da eksik değer artık yoktur.

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [17]:
# eksik değerlerin yerine "ortalama değeri" yazmak için
df["mass"].fillna(df.mass.mean(),inplace=True)

In [18]:
df.isnull().sum() # mass'de eksik değer artık yoktur.
# eksik değerlerin yerine mass'in ortalama değerini yazmıştık.

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [21]:
# veri setindeki tüm eksik değerlerin yerine ortalama değerleri atanması için
df.fillna(df.mean(),inplace=True)

/var/folders/x8/nnk_zbps5d547d0lzb19x0s80000gn/T/ipykernel_2412/735488840.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(),inplace=True)

In [22]:
# eksik değerler yerine ortalama değerleri atadığımız içim artık eksik değerler yoktur.
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

In [23]:
df=planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [24]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64