# Kategorik Değişken Kırılımında Değer Atama

bir şirket olduğunu düşünelim. bu şirketin çalışanlarının çeşitli bilgilerini içeren demografik ve uzmanlığı ile ilgili maaşı ve benzeri ile ilgili değerleri içeren bir veri seti olduğunu düşünelim elimizde, gözlem birimlerimiz bütün çalışanlar ve bu çalışanlar ilişkin değişkenler yaş, maaş, departman vs.

- bir çalışanımızın maaş değişkeninde bir eksiklik var buraya kadar öğrendiklerimizle 2 şey yapabiliriz. bu eksik değere sahip kişiyi silmek. ikincisi ise eksik değere sahip olan kişinin ilgili değişkendeki eksik değeri ortalamayla veya medyanla doldurmak.

- bunu ortalamayla doldurduğumuzda ya bu çalışan maaş skalası yüksek olan bir departmanda çalışıyorsa ya da tam tersi olarak bu kişi maaş skalası daha düşük olan bir departmanda çalışıyorsa bu durumda şirketin bütün çalışanlarını bir arada düşünüp şirketin genel maaş ortalamasını bu kişinin maaşıymışcasına atamak mantıklı değildir.

- aksine çok ciddi ve yanıltıcı olacaktır. neden çünkü örneğin kişinin çalışmış olduğu departman maaş skalasında alt taraftaysa veya çok üst taraftaysa ortalamayı atadığımızda tüm kitleyi temsil eden bir değer atadığımızdan merkezi eğilimini temsil eden değer atamış olduğumuzdan o kişinin gerçek maaşını yansıtmaz.

eğer veri setimizi var olan bazı kategorik değişkenler özeline kırarsak yani indirgersek örneğin pazarlama departmanının maaş ortalamasını ata ya da arge departmanının maaş ortalamasını ata. şeklinde bir kırılıma sokulursa veri seti bu durumda çok çok daha doğru bir değer atama işlemi gerçekleştirilmiş olacaktır.

dolayısıyla buradan şöyle bir ders çıkarmamız lazım eğer elimizde eksikliğini doldurmak üzere bir değişken varsa öncelikle bu değişkeni kategorik başka değişkenlerce indirgeyebiliyor muyuz bakmalıyız.

arge departmanın çalışanların ortalama maaşını atamakla, pazarlama departmanın çalışanlarının ortalama maaşını atamak karşılaştırıldığında her iki senaryoda şirketin bütün kişilerinin maaşlarının ortalaması atamaya göre çok çok daha başarılı olacaktır. çünkü departman kendi içerisinde zaten biraz daha homojendir. diğer departmanlara göre

- bir adım daha ilerisine gidilebilir departmanın içerisindeki uzmanlığına göre 5 yıl uzmanlığı olanların maaşı belirli bir seviyededir, yeni girenlerin maaşı farklı bir seviyededir. 

- uzmanlıklar gibi bir kırılım daha ekleyebilirsek, çok daha doğru bir eksik değer atama işlemi gerçekleşmiş olacak

## Kategorik Değişken Kırılımında Değer Atama

In [1]:
import numpy as np
import pandas as pd

In [2]:
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])
V4 = np.array(["IT","IT","IK","IK","IK","IK","IK","IT","IT"])

In [3]:
df = pd.DataFrame(
        {"maas" : V1,
         "V2" : V2,
         "V3" : V3,
        "departman" : V4}        
)

In [4]:
df

   maas    V2    V3 departman
0   1.0   7.0   NaN        IT
1   3.0   NaN  12.0        IT
2   6.0   5.0   5.0        IK
3   NaN   8.0   6.0        IK
4   7.0  12.0  14.0        IK
5   1.0   NaN   7.0        IK
6   NaN   NaN   NaN        IK
7   9.0   2.0   2.0        IT
8  15.0   3.0  31.0        IT

### Departmanlara göre maaş ortalamalarına bakalım

In [5]:
# departmanların maaş ortalamasının ne olduğunu bulalım
# veri setini departmanlara göre gruplayalım sonra maaşların ortalamasını alalım
df.groupby("departman")["maas"].mean()

departman
IK    4.666667
IT    7.000000
Name: maas, dtype: float64

Bu departman ortalamalarını değişkenlerin içerisinde yer alan eksiklikleri doldurmak için nasıl kullanabiliriz ?

In [6]:
df["maas"]

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: maas, dtype: float64

- df içerisindeki `maas`, değişkeninin içerisindeki eksiklikleri doldurmak istiyoruz. ama bir kategorik değişkenin kırılımına göre doldurmak istiyoruz. 

- `departman` değişkenini göz önünde bulundurup buradaki NaN ifadelerini ona göre doldurmak istiyoruz.

In [7]:
# fillna: neyi
# groupby: gruplara bölünmüş olduktan sonra hesaplanmış 
# olan ortalamaları boşluklara doldurmuş olur.
df["maas"].fillna(df.groupby("departman")["maas"].transform("mean"))

0     1.000000
1     3.000000
2     6.000000
3     4.666667
4     7.000000
5     1.000000
6     4.666667
7     9.000000
8    15.000000
Name: maas, dtype: float64

buradaki maas değişkeninin eksikliklerini departman kategorik değişkenini göz önünde bulundurarak departman özelinde doldurma işlemini gerçekleştirmiş olduk.