# İleri Toplulaştırma İşlemleri (Aggregate, Filter, Transform, Apply)

In [6]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({
    "gruplar":["A","B","C","A","B","C"],
    "degisken1":[10,23,33,22,11,99],
    "degisken2":[100,253,333,262,111,969]
},
columns=["gruplar","degisken1","degisken2"])

df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

## Aggregate

In [3]:
# gruplar'a göre gruplaştırma işlemini yapalım.
df.groupby("gruplar")

In [4]:
# gruplar'a göre gruplaştırma işlemini yapalım.
# her iki degisken içinde ortalamayı hesaplayalım.
df.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A             16.0      181.0
B             17.0      182.0
C             66.0      651.0

In [7]:
# pandas'in içerisinde yer alan bir fonksiyon ise ""(tırnak içerisinde ifade edilir) veya düz bir şekilde de yazabiliriz
# ancak dışarıdan bir fonksiyon kullanılacaksa çağrılır.
df.groupby("gruplar").aggregate(["min",np.median,max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.0  22       100  181.0  262
B              11   17.0  23       111  182.0  253
C              33   66.0  99       333  651.0  969

In [8]:
df.groupby("gruplar").aggregate({
    "degisken1":"min",
    "degisken2":"max"
})

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969