NumPy varken neden Pandas DataFrame'ine ihtiyacımız var?
- NumPy, fix type(sabit veri tipli) bir veri yapısı olduğundan dolayısıyla içerisinde kategorik ve sürekli değişkenleri bir arada tutup bunun üzerinde işlemleri zorlamayla yapılabildiğinden bazı problemler ortaya çıkıyordu ve veri manipülasyonu ve veri analizi anlamında ihtiyaç duyulan ileri seviye manipülatif işlemlere cevap veremiyor bu sebeple pandas kullanılır.
- veri analizi ve manipülasyonu için pandas
- matematiksel anlamda vektör ve matris uzayında işlemler yapılacak olduğunda pandas'ı kullansak bile arka planda pandas, numpy'ı kullanır.
- NumPy, teorik yapılar için
- Pandas DataFrame yapısını ise analitik anlamda makine öğrenmesi modellerine verecek olduğumuz veri setleri olarak düşünebiliriz.

In [2]:
import pandas as pd

In [3]:
l = [41,72,39,91,83,67]
l

[41, 72, 39, 91, 83, 67]

In [4]:
pd.DataFrame(l, columns=["degisken_ismi"])

   degisken_ismi
0             41
1             72
2             39
3             91
4             83
5             67

### Üç Değişkenli

In [6]:
import numpy as np

In [7]:
m= np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
# değişkenleri isimlendirildi - iki boyutlu DataFrame oluşturuldu
pd.DataFrame(m,columns=["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

- dataframe'ler veri bilimi ve yapay zeka alanında en çok kullanacağımız veri yapılarıdır.

### df isimlendirme

In [9]:
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df.head() # seriler üzerinde de head fonksiyonunu kullanabiliyorduk

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [10]:
df.columns # değişkenlerin isimlerini getirir.

Index(['var1', 'var2', 'var3'], dtype='object')

In [11]:
df.columns=("deg1","deg2","deg3")

Index(['deg1', 'deg2', 'deg3'], dtype='object')

In [12]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.axes
# index: 0dan başıyor 3e(dahil değil) kadar, 1er 1er artıyor

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [15]:
df.shape # boyut bilgisi

(3, 3)

In [16]:
df.ndim # boyut

2

In [17]:
df.size # toplam eleman sayısı

9

In [18]:
# değerlere erişmek istersek
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [19]:
type(df.values)

numpy.ndarray

In [20]:
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [21]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

### NumPy Array'i üzerinden Pandas DataFrame oluşturduk

In [22]:
a=np.array([53,16,26,84,93,75,40])
a

array([53, 16, 26, 84, 93, 75, 40])

In [23]:
pd.DataFrame(a, columns=["deg1"])

   deg1
0    53
1    16
2    26
3    84
4    93
5    75
6    40