# Gözlem ve Değişken Seçimi: loc & iloc

In [1]:
import numpy as np
import pandas as pd

In [2]:
m=np.random.randint(1,30,size=(10,3))
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df

   var1  var2  var3
0    21    26    16
1     5    18     3
2    26    15    24
3     2    25    18
4    29    10     1
5    14    24    11
6    19     8    18
7     6     1     6
8    21    22    17
9    28     9    16

In [3]:
?np.random.randint

Docstring:
randint(low, high=None, size=None, dtype=int)

Return random integers from `low` (inclusive) to `high` (exclusive).

Return random integers from the "discrete uniform" distribution of
the specified dtype in the "half-open" interval [`low`, `high`). If
`high` is None (the default), then results are from [0, `low`).

.. note::
    New code should use the ``integers`` method of a ``default_rng()``
    instance instead; please see the :ref:`random-quick-start`.

Parameters
----------
low : int or array-like of ints
    Lowest (signed) integers to be drawn from the distribution (unless
    ``high=None``, in which case this parameter is one above the
    *highest* such integer).
high : int or array-like of ints, optional
    If provided, one above the largest (signed) integer to be drawn
    from the distribution (see above for behavior if ``high=None``).
    If array-like, must contain integer values
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  Default is None, in which case a
    single value is returned.
dtype : dtype, optional
    Desired dtype of the result. Byteorder must be native.
    The default value is int.

    .. versionadded:: 1.11.0

Returns
-------
out : int or ndarray of ints
    `size`-shaped array of random integers from the appropriate
    distribution, or a single such random int if `size` not provided.

See Also
--------
random_integers : similar to `randint`, only for the closed
    interval [`low`, `high`], and 1 is the lowest value if `high` is
    omitted.
Generator.integers: which should be used for new code.

Examples
--------
>>> np.random.randint(2, size=10)
array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
>>> np.random.randint(1, size=10)
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Generate a 2 x 4 array of ints between 0 and 4, inclusive:

>>> np.random.randint(5, size=(2, 4))
array([[4, 0, 2, 1], # random
       [3, 2, 2, 0]])

Generate a 1 x 3 array with 3 different upper bounds

>>> np.random.randint(1, [3, 5, 10])
array([2, 2, 9]) # random

Generate a 1 by 3 array with 3 different lower bounds

>>> np.random.randint([1, 5, 7], 10)
array([9, 8, 7]) # random

Generate a 2 by 4 array using broadcasting with dtype of uint8

>>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
array([[ 8,  6,  9,  7], # random
       [ 1, 16,  9, 12]], dtype=uint8)
Type:      builtin_function_or_method

## loc
- Tanımlandığı şekliyle seçim yapmak için kullanılır.

In [4]:
df.loc[0:3] # 3'ü de dahil etmiş

   var1  var2  var3
0    21    26    16
1     5    18     3
2    26    15    24
3     2    25    18

# df.loc[0,0] -->> HATA!!

## iloc
- Alışık olduğumuz indeksleme mantığıyla seçim yapar.

In [5]:
df.iloc[0:3] # 3 dahil değil

   var1  var2  var3
0    21    26    16
1     5    18     3
2    26    15    24

In [6]:
df.iloc[0,0]

21

In [10]:
df

   var1  var2  var3
0    21    26    16
1     5    18     3
2    26    15    24
3     2    25    18
4    29    10     1
5    14    24    11
6    19     8    18
7     6     1     6
8    21    22    17
9    28     9    16

In [8]:
df.iloc[:3,:2]

   var1  var2
0    21    26
1     5    18
2    26    15

iloc ile loc fark:
- eğer değişken ya da gözlem birimleri yani satırlarla ilgili mutlak bir değer işaretlemesi yapacaksak loc'u kullanmalıyız
- mutlak bir şekilde: değişken ismi("var3") veya gözlem birimleri indexlerin isimlerine göre bir seçme işlemi yapmak istersek loc'u tercih ederiz

In [11]:
df.loc[0:3,"var3"] # satır: 0dan 3e(dahil eder) kadar, sütun: var3

0    16
1     3
2    24
3    18
Name: var3, dtype: int64

In [ ]:
# df.iloc[0:3,"var3"] -->> HATA!!

In [13]:
df

   var1  var2  var3
0    21    26    16
1     5    18     3
2    26    15    24
3     2    25    18
4    29    10     1
5    14    24    11
6    19     8    18
7     6     1     6
8    21    22    17
9    28     9    16

In [14]:
df.iloc[2:5,1:3] # 5 ile 3 dahil değil

   var2  var3
2    15    24
3    25    18
4    10     1

In [15]:
df.iloc[6:9] # 9 dahil değil

   var1  var2  var3
6    19     8    18
7     6     1     6
8    21    22    17

In [16]:
df.iloc[5:9]["var3"] # 9 dahil değil

5    11
6    18
7     6
8    17
Name: var3, dtype: int64

- eğer gözlem ya da değişken isimlendirmeleri açısından verilen kurallara bağlı bir şekilde seçim yapılma ihtiyacı varsa "loc" kullanılır.
- eğer verilen isimlendirmeden bağımsız klasik index mantığıyla seçim yapmak istiyorsak "iloc" kullanılır.