# ElasticNet Regresyonu

Amaç hata kareler toplamını minimize eden katsayıları bu katsayılara bir ceza uygulayarak bulmaktır. ElasticNet L1 ve L2 yaklaşımlarını birleştirir.

ElasticNet L1 ve L2 yaklaşımlarını birleştirir. bu durum daha etkili düzenlileştirme yapılmasını sağlar.

ekk'nın klasik problemlerini ortadan kaldırıyor

ridge tarzı cezalandırma lasso tarzı değişken seçme işlemini bir araya getirerek hem cezalandırma hem değişken seçme işlemini aynı anda göz önünde bulundurmuş oluyor ve doğrusal regresyon modellerinin en modern ve geliştirilmiş hali olduğu düşünülmektedir.

# ElasticNet Regresyonu - Model

In [21]:
import pandas as pd

In [22]:
hit = pd.read_csv("Hitters.csv")
hit.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [23]:
df=hit.copy()

In [24]:
df=df.dropna()

In [25]:
dms = pd.get_dummies(df[["League","Division","NewLeague"]])
dms.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1         0         1           0           1            0            1
2         1         0           0           1            1            0
3         0         1           1           0            0            1
4         0         1           1           0            0            1
5         1         0           0           1            1            0

In [26]:
y=df["Salary"]

In [27]:
X_=df.drop(["Salary","League","Division","NewLeague"], axis=1).astype("float64")

In [28]:
X = pd.concat([X_, dms[["League_N","Division_W","NewLeague_N"]]], axis=1)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=42)

In [30]:
from sklearn.linear_model import ElasticNet

In [31]:
# modelimi oluşturdum
enet_model = ElasticNet().fit(X_train, y_train)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8487984.799367297, tolerance: 3898.686956380658
  model = cd_fast.enet_coordinate_descent(

In [32]:
# katsayılar
enet_model.coef_

array([ -1.86256172,   8.70489065,   5.10426375,  -2.89875799,
        -1.28642985,   5.24343682,   6.04480276,  -0.14701495,
        -0.21566628,  -0.7897201 ,   1.80813117,   0.80914508,
        -0.61262382,   0.26816203,   0.27172387,  -0.36530729,
        19.2186222 , -31.16586592,   8.98369938])

In [33]:
# sabit sayı (const)
enet_model.intercept_

-6.465955602113013

# ElasticNet Regresyonu - Tahmin

In [42]:
# test seti için tahmin edilen y değerleri
y_predict = enet_model.predict(X_test)
y_predict[:10]

array([ 577.79111731,  617.33202224, 1031.39113156,  364.95861575,
        489.51894393,  300.74185842,  604.522666  ,  465.34678732,
        901.44473965,  703.20357123])

In [43]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

In [44]:
# rmse(hata kareler ortalamasının karekökü) test hatası
np.sqrt(mean_squared_error(y_test, y_predict))

357.16765481812456

In [45]:
# r-kare
# açıklanabilirlik oranı
r2_score(y_test, y_predict)

0.4107022246932688

# ElasticNet Regresyonu - Model Tuning

In [50]:
from sklearn.linear_model import ElasticNetCV

In [51]:
# eğitim seti üzerinden modeli kurdum
enet_cv_model = ElasticNetCV(cv=10, random_state=0).fit(X_train, y_train)

In [52]:
# optimum lambda değeri
enet_cv_model.alpha_

5230.7647364798695

In [53]:
# tun edilmiş modeli oluşturdum
enet_tuned = ElasticNet(alpha = enet_cv_model.alpha_).fit(X_train, y_train)

In [54]:
# test setinin içerisindeki bağımsız değişkenlerin değerlerini kullanarak 
# y tahmin değerini elde ediyorum
y_pred = enet_tuned.predict(X_test)

In [55]:
# rmse test hatası
np.sqrt(mean_squared_error(y_test, y_pred))

394.15280563218795

doğrusal modellerin sonuna geldik. doğrusal modeller arasında elimizdeki bu veri setine lasso model daha başarılı olmuştur. elastic net 394, ridge 386, lasso 356 görüldüğü üzere bu veri seti için en iyi çalışan model lasso'dur.

## ÖNEMLİ NOT:

_**Birinci konu**_: `alphas` parametresi için bir liste oluşturmadık ve bunu modele bıraktık. ElasticNetCV fonksiyonu uygun olan değeri buldu. Eğer oluşturulmak istenirse alphas=[.,.,.,] şeklinde bir liste oluşturulabilir ve ElasticNetCV içerisine argüman olarak ifade edilebilir.

_**İkinci konu**_: `l1_ratio` parametresi. Bu parametre değeri 0 olduğunda L2 cezalandırılması, 1 olduğunda ise L1 cezalandırması yapar. Dolayısıyla 0-1 arasında değişimi aslında cezalandırma metodlarının göreceli etkilerini ifade eder. Uygulamamızda ikisininde etkisinin aynı düzeyde olmasını istediğimizden dolayı bunun ön tanımlı değerini olduğu gibi bıraktık: 0.5

_**Üçüncü konu**_: `l1_ratio` ve `alphas` beraber düşünülürse `l1_ratio` için aranacak bir liste verildiğinde yani ceza türlerinin etkilerini ayarlamak için bir liste verildiğinde her bir `l1_ratio` değeri için farklı `alphas` değerleri olacaktır ki bu durumda bu alphalar ceza terimleri etkilerini modele yansıtmış olacak.