# Betimsel İstatistikler
- Ortalama
- Medyan
- Mod
- Kartiller
- Değişim Aralığı
- Standart Sapma
- Kovaryans
- Korelasyon

## Kovaryans
İki değişken arasındaki ilişkinin, değişkenlik ölçüsüdür.

**cov(X,Y)=E[ (X- E[X] )(Y- E[Y] ) ]**

varyans, ortalama etrafındaki dağılımın ölçüsüydü. standat sapmanın karesi alındığında varyans elde ediliyordu.

kovaryans ise İki değişken arasındaki ilişkinin, değişkenlik ölçüsüdür. iki rastgele değişkenin kendi ortalamalarından olan sapmanın çarpımlarının beklenen değeridir. böylece iki değişkenin birlikte ortaya çıkardığı değişim incelenmiş olur. yani elimizde iki değişkenin arasındaki ilişkiye ilişkin değişkenlik anlamında bir bilgiye ihtiyaç olduğunda buna erişmek istediğinizde kovaryans kullanılır.

Kovaryans (covariance), istatistikte iki değişken arasındaki ilişkinin değişkenlik ölçüsünü ifade eden bir kavramdır. Kovaryans, iki değişkenin birlikte nasıl değiştiğini gösterir. Eğer iki değişken birlikte artıyor veya birlikte azalıyorsa kovaryans pozitif olur, eğer bir değişken artarken diğeri azalıyorsa kovaryans negatif olur.

Kovaryans, şu formülle hesaplanır:

cov(X, Y) = E[(X - E[X])(Y - E[Y])]

Burada:
- X ve Y, iki değişkenin değerleri,
- E[X] ve E[Y], sırasıyla X ve Y değişkenlerinin beklenen değerleri (ortalama),
- E[ ] ise bir değişkenin beklenen değerini ifade eder.

Eğer kovaryans pozitif bir değer alıyorsa, bu X ve Y değişkenleri arasında doğrusal bir ilişkinin olduğunu ve birlikte arttıklarını gösterir. Eğer kovaryans negatif bir değer alıyorsa, değişkenler birlikte azalıyor ve ters yönlü bir ilişki olduğunu gösterir. Kovaryansın mutlak değeri ne kadar büyükse, o kadar güçlü bir ilişki olduğu söylenir.

Ancak, kovaryansın bir dezavantajı vardır. Değişkenlerin birimlerine bağlı olarak, kovaryansın büyüklüğü değişebilir. Bu nedenle, değişkenlerin birimlerinden bağımsız bir ölçü kullanmak için korelasyon katsayısı (korelasyon) kullanılır. Korelasyon katsayısı, kovaryansı değişkenlerin standart sapmalarına bölerek, değişkenler arasındaki ilişkiyi standartlaştırır. Bu nedenle korelasyon katsayısı, değişkenlerin ilişkisinin gücünü daha iyi ifade eder.

## Korelasyon
İki değişken arasındaki ilişkiyi, ilişkinin anlamlı olup olmadığını, ilişkinin şiddetini ve yönünü ifade eden istatistiksel bir tekniktir.

### Kovaryans ile Korelasyon Arasındaki Fark
Korelasyon, iki değişken arasındaki ilişki ile ilgileniyor. Kovaryans ise iki değişken arasındaki ilişkinin değişkenliği ile ilgileniyor.

Korelasyon katsayısı, kovaryansın değerini -1 ile +1 arasına sıkıştırır ve değişkenler arasındaki ilişkinin gücünü ve yönünü belirtir. Pozitif korelasyon, değişkenler arasında doğru bir ilişki olduğunu, negatif korelasyon ise ters yönlü bir ilişki olduğunu ifade eder. 0 korelasyon ise değişkenler arasında bir ilişki olmadığını gösterir.

Korelasyon, iki değişken arasındaki ilişkiyi istatistiksel olarak ölçen bir tekniktir. Korelasyon, ilişkinin anlamlı olup olmadığını, ilişkinin şiddetini ve yönünü belirlemeye yardımcı olur.

Korelasyon katsayısı, genellikle Pearson korelasyon katsayısı olarak adlandırılan bir ölçümle ifade edilir. Pearson korelasyon katsayısı, iki sürekli değişken arasındaki ilişkiyi ölçer ve değeri -1 ile +1 arasında değişir.

-1 ile +1 arasındaki değerler şu şekilde yorumlanır:
- +1, mükemmel pozitif korelasyonu temsil eder, yani değişkenler arasında tamamen doğru bir ilişki vardır ve bir değişken arttığında diğer değişken de artar.
- 0, ilişki olmadığını veya çok zayıf bir ilişki olduğunu ifade eder. Değişkenler arasında doğrusal bir ilişki yoktur.
- -1, mükemmel negatif korelasyonu temsil eder, yani değişkenler arasında tamamen ters yönlü bir ilişki vardır ve bir değişken artarken diğeri azalır.

Pearson korelasyon katsayısı, ilişkinin şiddetini ve yönünü gösterirken, aynı zamanda ilişkinin anlamlı olup olmadığını belirlemek için de kullanılır. İlişki anlamlı olduğunda, değişkenler arasında gerçek bir ilişki olduğu kabul edilir ve istatistiksel olarak anlamlı bir sonuç elde edilir.

Korelasyon, istatistiksel analizlerde ve bilimsel araştırmalarda sıkça kullanılan bir yöntemdir ve iki değişken arasındaki ilişki hakkında önemli bilgiler sağlar. Ancak, unutulmamalıdır ki korelasyon, nedensellik ilişkisini ifade etmez; yani iki değişken arasındaki ilişki, birbirini nedenselleştirmez. Bu nedenle, korelasyon analizleri yalnızca ilişkiyi ifade eder ve ilişkinin nedenini açıklamaz.

# Uygulama

In [2]:
import numpy as np

In [3]:
populasyon=np.random.randint(0,80,10000)
populasyon[0:10]

array([79, 63,  0, 40, 33, 21, 39,  1, 70, 47])

In [4]:
np.random.seed(155)
orneklem=np.random.choice(populasyon, size=100)
orneklem[0:10]

array([68, 63, 19, 45, 17, 17, 55,  3, 16,  0])

np.random.seed() fonksiyonu, aynı seed değeri ile çağrıldığında her zaman aynı rastgele sayıları üretir. Farklı bir seed değeri kullanırsanız, farklı rastgele sayılar elde edersiniz.

In [5]:
orneklem.mean()

39.27

In [6]:
populasyon.mean()

39.6702

In [7]:
# farklı farklı 100'lük çekelim
np.random.seed(10)
orneklem1=np.random.choice(populasyon, size=100)
orneklem2=np.random.choice(populasyon, size=100)
orneklem3=np.random.choice(populasyon, size=100)
orneklem4=np.random.choice(populasyon, size=100)
orneklem5=np.random.choice(populasyon, size=100)
orneklem6=np.random.choice(populasyon, size=100)
orneklem7=np.random.choice(populasyon, size=100)
orneklem8=np.random.choice(populasyon, size=100)
orneklem9=np.random.choice(populasyon, size=100)
orneklem10=np.random.choice(populasyon, size=100)

In [8]:
( orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()
+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+orneklem8.mean()+
orneklem9.mean()+orneklem10.mean() )/10

40.186

In [9]:
orneklem1.mean()

40.09

In [13]:
orneklem2.mean()

40.84

In [14]:
orneklem3.mean()

39.94

In [15]:
orneklem4.mean()

36.79

## Betimsel İstatistikler

In [16]:
import seaborn as sns

In [17]:
tips=sns.load_dataset("tips")

In [18]:
df=tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [19]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [22]:
# !pip install researchpy
import researchpy as rp

In [23]:
# sayısal, sürekli değişkenler için summary_cont fonksiyonu kullanılır
rp.summary_cont(df[[ "total_bill","tip","size" ]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

değişkenler, gözlem sayıları, ortalama, standart sapma, standart hatası, güven aralıkları

In [24]:
# kategorik değişkenler için summary_cat fonksiyonu kullanılır
rp.summary_cat(df[[ "sex","smoker","day" ]])
# sınıf frekansları, yüzdelik

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

## Kovaryans ve Korelasyon

In [25]:
# Kovaryans
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

kovaryans, değişkenlerin ilişkilerine ilişkin değişkenlik ölçüsü verir. tip ile toplam hesap arasında ilişki tanımlanmış. bu varyans gibi değerlendirilmesi gereken ama iki değişkenin arasındaki değişimi ifade eder