In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame({
    "gruplar":["A","B","C","A","B","C"],
    "degisken1":[10,23,33,22,11,99],
    "degisken2":[100,253,333,262,111,969]
},
columns=["gruplar","degisken1","degisken2"])

df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [4]:
df["degisken1"]*9

0     90
1    207
2    297
3    198
4     99
5    891
Name: degisken1, dtype: int64

- Pandas DataFrame'inin üzerinde slice seçim işlemi yapacak olduğumuzda eğer indexlere bağlı kalacaksak loc, kalmayacaksak iloc

In [12]:
df_a=df.iloc[:,1:3] # kategorik değişkenden kurtulduk
df_a

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

- transform fonksiyonu, vektörel çalışan bir fonksiyon yani sütun bazında, değişkenler bazında bütün değişkenler üzerinde bir işlem yapmak için kullanacağımız bir fonksiyon
- fakat bu fonksiyonun özelliği bizim istemiş olduğumuz bir fonksiyonu değişkenlerin üzerinde çalıştırabilmek
- lambda mimarisini kullanarak bir fonksiyon tanımladık bu fonksiyon her bir değişkeni gezdiğinde yakalamış olduğu değişkenin her bir elemanından yakalamış olduğu değişkenin ortalamasını çıkarır.
- önce degisken1'i yakaladı bu değişken(degisken1) içerisindeki her bir gözlemden degisken1'in ortalamasını çıkaracak...
- yakalamış olduğu her bir değişkenin standart sapmasını hesaplamak

In [14]:
df_a.transform(lambda x: (x-x.mean())/x.std())

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853